* {
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #d1cdb2;
  overflow: hidden;
}

#controls, #colors {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    background-color: white;
    top: 5%;
    right: 2%;
    width: 200px;
    height: 90%;
    padding-bottom: 10px;
    user-select: none;
    border-radius: 20px;
    border: 2px solid #888888;
}

input {
    font-size: 24px;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #888888;
}

label {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px;
}

.color_selector {
    margin-bottom: 3px;
}

#submit {
    position: absolute;
    width: 80%;
    bottom: 50px;
    right: 10%;
    transition: .3s;
}

#seed, #reset {
    position: absolute;
    right: 10%;
    bottom: 5px;
    transition: .3s;
}

.control_label, .colors_label, .exit {
    font-size: 17px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #888888;
    transition: .3s;
}

.control_label:hover, .colors_label:hover, .exit:hover, #seed:hover, #submit:hover, #reset:hover {
    filter: brightness(90%);
}

#loader {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#load {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  z-index: 6;
}

.tool {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid #999999;
    cursor: pointer;
    transition: .3s;
}

.tool:hover {
    filter: brightness(90%);
    transform: rotate(45deg);
}

.tool:focus {
    background-color: #a6f3ff;
}

#gear {
    top: 10px;
}

#add {
    top: 60px;
}

#hill {
    top: 110px;
}

#biome {
    top: 160px;
}

#info {
    top: 210px;
}

#save {
    top: 260px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cityname {
    font-size: 24px;
    border-bottom: 2px solid #c9c9c9;
    margin-bottom: 5px;
}

.population {
    text-align: left;
    border-bottom: 2px solid #e9e9e9;
    margin-bottom: 5px;
}
